.table tr td,.table tr th{
    padding-top:6px;
    padding-bottom:6px;
}
.table-nowrap tr td{
    white-space:unset !important;
}
.btn-toggle-fullwidth {
    font-size:25px;
    margin-right: 10px;
}