.table tr td,.table tr th{
    padding-top:6px;
    padding-bottom:6px;
}
.table-nowrap tr td{
    white-space:unset !important;
}
.table-nowrap-th tr th {
    white-space: nowrap !important;
}
.btn-toggle-fullwidth {
    font-size:25px;
    margin-right: 10px;
}
.multiselect{
    border: 1px solid #ced4da !important;
}
.nav-tabs-new2>li>a{
    padding:7px 10px !important;
}
.show-form-filter{
    position: absolute;
    transform: translate3d(15px, 35px, 0px);
    top: 60px;
    left: 0px;
    will-change: transform;
    display: block;
    width: 250px;
}